#finite volume configuration file
#read by FiniteVolumeDriver

serializer
{
    class = "FVMDefaultVTK"
    properties = {}
    int-properties = {}
    #{frame directory, name}
    str-properties = {"output","test2D"}
}

grid
{
    class = "FVMGmsh3D"
    properties = {0, 100700,298, 101000,299, 0, 0, 0} #{}
    int-properties = {8,13,5,8,8,8} #{-y, +x, +y, -y}
    str-properties = {slice.msh}
}

body
{
    class = "FVMDefaultBody"
    properties = {1.177, 298} #rho, theta
}

material
{
    class = "FVMIdealGas"
    properties = {1.4, 287.1, 0.0, 0.0} #kappa, eta, rho
}

solver
{
    class = "FVMRungeKuttaSolver"
}
