#this is a comment
job #this is a header
{
    #this is how values are set
    dt = 1e-3
    t = 0
    TYPE = 3
}

serializer
{
    class = "DefaultVTK"
    properties = {60} #sample rate [fps]
    int-properties = {}
    #{frame directory, save directory, name}
    str-properties = {"output","save","test3D"}
}

driver
{
    class = "DefaultDriver"
    properties = {1} #stop time [s]
    int-properties = {}
    str-properties = {}
}

solver
{
    class = "ExplicitUSL"
    properties = {}
    int-properties = {1, 1}
    str-properties = {}
}

grid
{
    class = "CartesianLinear"
    #{Lx, Ly, Lz}
    properties = {1.0,1.0,1.0}
    #{Nx, Ny, Nz}
    int-properties = {20,20,20}
    str-properties = {}
}

body
{
    class = "DefaultBody"
    name = "block"
    point-file = "pgen.points"
    
    point-class = "CartesianPoints"
    node-class = "DefaultNodes"
    
    material-class = "IsotropicLinearElasticity"
    #{E, nu}
    material-props = {1e5,0.3}
    material-int-props = {}
    material-str-props = {}
    
    boundary-class = "CartesianBox"
    boundary-props = {}
    boundary-int-props = {}
    boundary-str-props = {}
}

body
{
    class = "DefaultBody"
    name = "block2"
    point-file = "test3D_2.points"

    point-class = "DefaultPoints"
    node-class = "DefaultNodes"

    material-class = "IsotropicLinearElasticity"
    material-props = {1e5,0.3}
    
    boundary-class = "CartesianBox"
}

contact
{
    name = "collision"
    class = "ContactHuang"
    #{mu_f}
    properties = {0.4}
    int-properties = {}
    #{body 1, body 2}
    str-properties = {"block","block2"}
}
