#finite volume configuration file
#read by FiniteVolumeDriver

serializer
{
    class = "FVMDefaultVTK"
    properties = {}
    int-properties = {}
    #{frame directory, name}
    str-properties = {"output","test2D"}
}

grid
{
    class = "FVMCartesian"
    properties = {1,1, 0,0, 0,0, 0,0, 1,0} #{-x, +x, -y, +y}
    int-properties = {100,100,0,0,0,0} #{Nx, Ny, -x, +x, -y, +y}
    str-properties = {}
}

body
{
    class = "FVMDefaultBody"
    properties = {1000.0, 0} #rho, theta
}

material
{
    class = "FVMBarotropicViscousFluid"
    properties = {1e5, 1e0, 1e3} #kappa, eta, rho
}

solver
{
    class = "FVMDefaultSolver"
}
