#finite volume configuration file
#read by FiniteVolumeDriver

serializer
{
    class = "FVMDefaultVTK"
    properties = {}
    int-properties = {}
    #{frame directory, name}
    str-properties = {"output_fvm","test2D"}
}

grid
{
    class = "FVMGmsh2D"
    properties = {0,0, 0,0, 1,0, 0,0} #{-y, +x, +y, -x}
    int-properties = {0,0,0,0} #{-y, +x, +y, -y}
    str-properties = {test.msh}
}

body
{
    class = "FVMDefaultBody"
    properties = {1000.0, 0} #rho, theta
}

material
{
    class = "FVMBarotropicViscousFluid"
    properties = {1e5, 1e0, 1e3} #kappa, eta, rho
}

solver
{
    class = "FVMRungeKuttaSolver"
}
