#this is a comment
job #this is a header
{
    #this is how values are set
    dt = 1e-5
    t = 0
    DIM = 2
}

serializer
{
    #filepath = "src/serializers/"
    filename = "default_vtk.so"
    properties = {60} #sample rate [fps]
    int-properties = {}
    #{frame directory, save directory, name}
    str-properties = {"output","save","test2D"}
}

driver
{
    #filepath = "src/drivers/"
    filename = "default_driver.so"
    properties = {1} #stop time [s]
    int-properties = {}
    str-properties = {}
}

solver
{
    #filepath = "src/solvers/"
    filename = "explicit_usl_cubic.so"
    properties = {}
    int-properties = {}
    str-properties = {}
}

grid
{
    #filepath = "src/grids/"
    filename = "cartesian_cubic.so"
    #{Lx, Ly}
    properties = {1.0,1.0}
    #{Nx, Ny}
    int-properties = {40,40}
    str-properties = {}
}

body
{
    name = "wood"
    point-file = "wood.points"
    
    #material-filepath = "src/materials/"
    material-filename = "isolin.so"
    #{E, nu}
    material-props = {1e8,0.3}
    material-int-props = {}
    material-str-props = {}
    
    #boundary-filepath = "src/boundaries/"
    boundary-filename = "cartesian_box.so"
    boundary-props = {}
    boundary-int-props = {}
    boundary-str-props = {}
}

body
{
    name = "water"
    point-file = "fluid.points"
    
    material-filename = "viscofluid.so"
    material-props = {1e9,8.9e-4}
    
    boundary-filename = "cartesian_smoothbox.so"
}

contact
{
    name = "collision"
    filename = "contact_huang.so"
    properties = {0.0}
    int-properties = {}
    str-properties = {"wood","water"}
}
